.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .header-top {
        background-color: #fff;
        
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
    
            .support {
                a {
                    margin-left: 10px;
                    font-weight: 600;
                    color: $hColor;

                    span {
                        padding-left: 5px;
                    }

                    &:hover {
                        color: $hColor;
                    }
                }

                @media (max-width: 520px) {
                    span {
                        display: none;
                    }
                }
            }

        }
    }

    .mobile-nav {
        display: none;
        a {
            img {
                width: 26px;
            }
        }
    }

    .header-nav {
        background-color: $bgThree;
        padding: 10px 0;
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            ul {
                display: flex;

                li {
                    a {
                        color: #fff;
                        font-size: 14px;
                        margin-right: 20px;
                        text-transform: uppercase;
                        transition: all .3s;

                        &:hover {
                            color: $hover-color;
                        }
                    }
                }

                &.register {
                    display: flex;
                    align-items: center;
                    li {
                        a {

                            &.img {
                                margin-right: 20px;
                            }

                            margin-right: 10px;

                            &.register,
                            &.login {
                                display: inline-block;
                                height: 35px;
                                line-height: 35px;
                                width: 95px;
                                text-align: center;
                                border-radius: 2px;
                            }

                            &.register {
                                border: 1px solid #fff;

                                &:hover {
                                    border-color: transparent;
                                    background-color: $bgOne;
                                    color: $white;
                                }
                            }

                            &.login {
                                background-color: $bgOne;
                                border: 1px solid transparent;

                                &:hover {
                                    border-color: $white;
                                    color: $white;
                                    background-color: transparent;
                                }
                            }
                        }

                        &:last-child {
                            a {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 991.98px) {
        .mobile-nav {
            display: block !important;
        }

        .header-nav {
            position: relative;
            
            .content {
                ul {
                    &.primary-nav {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        flex-direction: column;
                        background-color: $white;
                        padding: 30px;
        
                        li {
                            a {
                                display: block;
                                padding: 8px 0;
                                color: $hColor !important;
                                font-weight: 700;
                                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        
                                &:hover {
                                    color: $primary-color !important;
                                    padding-left: 10px;
                                }
                            }
        
                            &:last-child {
                                a {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }




    .heder-bottom {
        p {
            text-align: center;
            padding: 10px 15px;
            background-color: rgba(255, 255, 255, 0.3);
            color: $white;
        }
    }
}