// Color;
$primary-color: #de3723;
$hover-color : hsla(6, 74%, 50%, 0.95);
$bColor: #6d6e70;
$hColor: #212121;
$white : #ffffff;
$black : #000000;
$bgOne: #3b42ed;
$bgTwo: #0000af;
$bgThree: #01102b;
$border-color: #DADADA;


// Body;
$bodyFont: 'Montserrat', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$bfSize: 14px;
$bLineHeight: 24px;
$fontWeight: 400;
$transition: all .4s linear;
